<div>
    <p>
        <a class="btn btn-tertiary" href="{{ path('is_useful.index') }}">Index</a>
        <a class="btn btn-tertiary" href="{{ path('is_useful.unread') }}">View unread feedback</a>
    </p>
</div>