/* Backend helper styles */

.is-useful-navbar {
    margin-bottom: 2rem;
}
.is-useful-navbar ul {
    width: 100%;
}

.is-useful-navbar ul > li{
    display: inline-block;
}


.is-useful-navbar ul li:last-child{
    float: right;
}


.is-useful-ip,
.is-useful-datetime {

}

.is-useful-message .well{
    margin-bottom: 0;
   
    /* breaking long links CSS tricks : https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.is-useful-actions .btn {
    margin-bottom: .5rem;
}

.is-useful-quick-results {
    margin-bottom: 2rem;
}

.is-useful-quick-results .well{
    display: inline-block;
    width: 33%;
    max-width: 130px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.is-useful-block-no.well {
    background: #f2dede;
}

.is-useful-block-yes.well {
    background: #dff0d8;
}
